.chatContainer {
    margin: 20px auto;
    width: 90%;
    border: 1px gray solid;
}
.chatHeader {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 20px;
}
.chatName {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}
.chatHeader .time {
    grid-column-start: 4;
    grid-column-end: -1;
    text-align: right;
}
.chatBody {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 400px;
}
.chatFooter {
    padding: 10px;
}
.chatFooter input {
    width: 70%;
    margin-right: 15px;
}
