.message {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
    margin-top: 15px;
    width: 60%;
    background-color: #d9d9d9;
}

.right {
    align-self: flex-end;
}

.message h3 {
    font-weight: bold;
    color: #333;
    font-size: 20px;
}

.message img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.bodyMessage {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.bodyMessageTitle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.bodyMessageTitle p {
    width: auto;
    margin: 5px 0 0 7px;
    font-size: 12px;
}
.bodyMessage p {
    width: 100%;
    margin-bottom: 15px;
}
.messageInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}
.messageInfo img {
    height: 25px;
    width: auto;
    cursor: pointer;
}
